out/
.settings/
*.tmp
*.log

# KiCAD stuffs
PCB/Magna/fp-info-cache
/PCB/Magna/Magna-backups/
/PCB/Magna/io_daughterboard/io_daughterboard-backups/
/PCB/Magna/io_daughterboard/fp-info-cache
/PCB/Magna/\#auto_saved_files\#
*.lck

# pycharm
/script/.idea/
/script/.venv/
